
label {
	text-align: right;
	display: inline-block;
	width: 100px;
	margin-right: 5px;
	font-weight: bold;
}

label.checkbox {
	text-align: left;
}

input {
	margin-right: 5px;
}

button {
	width: 100px;
	margin-left: 109px;
}

th, td {
	width: 50px;
	padding: 3px;
	text-align: right;
}

th, td.label {
	font-weight: bold;
}

select.panel {
	width: 144px;
}

label.units {
	text-align: left;
}
