
<template>
  <div>
    <checkpoint />
    <history />
    <statistics />
    <settings />
  </div>
</template>

<script>
'use strict';

import checkpoint from './Checkpoint.vue';
import history from './History.vue';
import statistics from './Statistics.vue';
import settings from './Settings.vue';

export default {
  name: 'App',
  components: {
    checkpoint,
    history,
    statistics,
    settings,
  },
};

</script>
