
<template>
  <div id='left'>
    <h3>New Checkpoint</h3>
    <form id='checkpoint'>
      <input type='hidden' id='id' />
      <cpdate />

      <div>
        <label for='systole'>Systole:</label>
        <input type='text' placeholder='Systole' id='systole' name='systole' v-model='cp.systole' />
        <label class='units'>mmHg</label>
      </div>

      <div>
        <label for='diastole'>Diastole:</label>
        <input type='text' placeholder='Diastole' id='diastole' name='diastole' v-model='cp.diastole' />
        <label class='units'>mmHg</label>
      </div>

      <div>
        <label for='pulse'>Pulse:</label>
        <input type='text' placeholder='Pulse' id='pulse' name='pulse' v-model='cp.pulse' />
        <label class='units'>1/min</label>
      </div>

      <button type='button' v-on:click='applyEdit' id='exec'>{{ execMode }}</button>
      <button type='button' v-on:click='cancelEdit' v-if='editing'  id='cancel' class='disappear'>Cancel</button>
    </form>
  </div> <!-- left -->
</template>

<script>
'use strict';

import cpdate from './CPDate.vue';
import { eventBus } from './index.js';

const LOGS = OC.generateUrl('/apps/bplog/check');

export default {
  name: 'Checkpoint',
  components: {
    cpdate,
  },
  data() {
    return {
      editing: false,
      cp: {
        id: 0,
        created: 0,
        systole: '',
        diastole: '',
        pulse: '',
      },
    };
  },
  mounted() {
    eventBus.$on('edit-log', cp => this.editLog(cp));
    eventBus.$on('cpdate-timestamp', (ts) => {
      if (ts) this.submit(ts)
    });
  },
  computed: {
    execMode() {
      return this.editing ? 'Update' : 'Add';
    },
  },
  methods: {
    reloadLog() {
      eventBus.$emit('reload-log');
    },

    applyEdit() {
      eventBus.$emit('cpdate-apply');
    },

    submit(ts) {
      var url = LOGS;

      if (this.editing) {
        url = url + '/' + this.cp.id;
      }

      const request = new Request(url, {
        method: this.editing ? 'PUT' : 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          'requesttoken': oc_requesttoken,
        },
        body: 'created=' + ts
            + '&systole=' + this.cp.systole
            + '&diastole=' + this.cp.diastole
            + '&pulse=' + this.cp.pulse,
      });

      (async () => {
        let response = await fetch(request)
        if (response.ok) {
          await response.text();
          this.reloadLog();
          OC.Notification.showTemporary(t('bplog', 'Action succeeded'));
        } else {
          OC.Notification.showTemporary(t('bplog', 'Action failed'));
          this.reloadLog();
        }
      })();

      // Cleanup
      this.cancelEdit();
    },

    editLog(cp) {
      this.cp = { ...cp };
      this.editing = true;
      eventBus.$emit('cpdate-edit', this.cp.created);
    },

    cancelEdit() {
      this.cp = {
        id: 0,
        created: 0,
        systole: '',
        diastole: '',
        pulse: '',
      };
      this.editing = false;
      eventBus.$emit('cpdate-cancel');
    },
  },
};
</script>

<style>

#left {
   position: absolute;
   left: 10px;
   width: 400px;
}

label.units {
  text-align: left;
}

</style>
