<template>
	<div>
		<label for='created'>Date:</label>
		<input type='text' placeholder='Date' id='created' name='created'
			ref='created' v-model='tsinput' v-bind:class='{ invalid: !tvalid }' required disabled />
		<input type='checkbox' class='checkbox' id='auto' v-model='auto' v-on:change='onAuto' />
		<label class='checkbox' for='auto'>Auto</label>
	</div>
</template>

<script>
'use strict';

import { eventBus } from './index.js';
import { getLocalTimeStamp, validateTimestamp } from './helper.js';

export default {
  name: 'CPDate',
  data() {
    return {
      tsinput: '',
      tvalid: true,
      auto: true,
    };
  }, // data
  mounted() {
    eventBus.$on('cpdate-edit', ts => this.onEdit(ts));
    eventBus.$on('cpdate-apply', () => this.onApply());
    eventBus.$on('cpdate-cancel', () => this.onCancel());
  },
  methods: {
    onEdit(ts) {
      this.auto = false;
      this.onAuto();
      this.tsinput = getLocalTimeStamp(new Date(1000 * ts));
    },

    onApply() {
      var ts = 0;

      if (this.auto) {
        ts = new Date();
      } else {
        this.tvalid = validateTimestamp(ts = new Date(this.tsinput));
      }

      eventBus.$emit('cpdate-timestamp',
        this.tvalid ? (ts.getTime() / 1000).toFixed(0) : undefined);
    },

    onCancel() {
      this.auto = true;
      this.onAuto();
    },

    onAuto() {
      this.$refs.created.disabled = this.auto;
      this.tsinput = this.auto	? '' : getLocalTimeStamp(new Date());
      this.tvalid = true;
    },
  },
};

</script>

<style>

input.invalid {
	border-width: 2px;
	border-color: red;
}

</style>
