
<template>
  <div id='mid'>
    <h3>Checkpoints</h3>
    <table>
      <thead>
        <tr>
          <th class='id-col' />
          <th class='date-col'>Date</th>
          <th>Systole</th>
          <th>Diastole</th>
          <th>Pulse</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for='cp in log' :key='cp.id'>
          <td class='id-col'>
            <a href='#' class='icon icon-delete log-delete'
              v-on:click='removeLog($event, cp)' title='Delete Record' />
            <a href='#' class='icon icon-edit log-edit'
              v-on:click='editLog($event, cp)' title='Edit Record' />
          </td>
          <td class='date-col'>{{ cp.created | timestamp }}</td>
          <td>{{ cp.systole }}</td>
          <td>{{ cp.diastole }}</td>
          <td>{{ cp.pulse }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
'use strict';

import { eventBus } from './index.js';
import { getLocalTimeStamp, sortLog } from './helper.js';

export default {
  name: 'History',
  data() {
    return {
      log: [],
      newontop: true,
      histviewlen: 10,
      histviewmode: 0,
    };
  },
  mounted() {
    eventBus.$on('sort-log', (newontop) => {
      sortLog(this.log, this.newontop = newontop);
      eventBus.$emit('stats-create', this.log);
    });
    eventBus.$on('reload-log', (settings) => {
      if (settings) {
        this.histviewlen = settings.histviewlen;
        this.histviewmode = settings.histviewmode;
      }
      this.reloadLog()
    });
  },
  filters: {
    timestamp(val) {
      return getLocalTimeStamp(new Date(1000 * val)); // milliseconds
    },
  },
  methods: {
    reloadLog() {
      var url = OC.generateUrl('/apps/bplog/check');

      (async () => {
        let response = await fetch(`${url}?histviewlen=${this.histviewlen}&histviewmode=${this.histviewmode}`, {
          headers: {
            'requesttoken': oc_requesttoken,
          },
        });
        if (response.ok) {
          let data = await response.json();
          sortLog(data, this.newontop);
          this.log = data;
          eventBus.$emit('stats-create', data);
        } else {
          OC.Notification.showTemporary(t('bplog', 'Load failed'));
        }
      })();
    },

    removeLog(event, cp) {
      (async () => {
        let response = await fetch(OC.generateUrl('/apps/bplog/check/' +	cp.id), {
          method: 'DELETE',
          headers: {
            'requesttoken': oc_requesttoken,
          },
        });
        if (response.ok) {
          await response.text();
          OC.Notification.showTemporary(t('bplog', 'Record deleted'));
          this.reloadLog();
        } else {
          OC.Notification.showTemporary(t('bplog', 'Record not deleted. Please try again.'));
        }
      })();
    },

    editLog(event, cp) {
      eventBus.$emit('edit-log', cp);
    },
  },
};
</script>

<style>

#mid {
	position: absolute;
	margin-left: 400px;
}

.id-col {
	width: 10px;
}

.date-col {
	padding: 3px;
	text-align: left;
}

.icon {
  display: inline-block;
  background-size: 16px 16px;
	background-image: none;
}

.icon-delete:hover {
	background-image: url('/core/img/actions/delete.svg');
}

.icon-edit:hover {
	background-image: url('/core/img/actions/rename.svg');
}

</style>
