
<template>
  <div id='app-settings'>

    <div id='app-settings-header'>
      <button class='settings-button' v-on:click="toggleMenu">Settings</button>
    </div>

    <transition name='fade'>
      <div v-if='isOpen' id='settings-content'>
        <fieldset class='settings-fieldset'>
          <ul class='settings-fieldset-interior'>

            <li class='settings-fieldset-interior-item'>
              <input type='checkbox' class='checkbox setting' id='newest'
                v-model='prefs.newontop' v-on:change='sortLogs' />
              <label class='checkbox' for='newest'>New on top</label>
            </li>

            <li class='settings-fieldset-interior-item'>
              <input type='checkbox' class='checkbox setting' id='stats'
                v-model='prefs.showstats' v-on:change='showStats' />
              <label class='checkbox' for='stats'>Statistics</label>
            </li>

            <li class='settings-fieldset-interior-item'>
              <label class='input' for='recent'>Show</label>
              <div class='settings-row'>
                <input type='number' class='input setting' id='recent' min='0' max='180'
                  v-model='histviewlen_inp' v-on:change='setHistoryViewLength' />
                <select class='select setting' id='recent-select'
                  v-on:change='setHistoryViewMode' v-model='prefs.histviewmode'>
                  <option value='0'>Checks</option>
                  <option value='1'>Days</option>
                  <option value='2'>Weeks</option>
                </select>
              </div>
            </li>

            <li class='settings-fieldset-interior-item'>
              <div class='settings-row'>
                <button class='button setting' id='export' v-on:click='onExport' href="#">Export</button>
                <select class='select setting' id='format-select' v-model='prefs.format' v-on:change='setFormat'>
                  <option value='0'>CSV</option>
                  <option value='1'>PDF</option>
                  <option value='2'>JSON</option>
                </select>
              </div>
            </li>

            <li class='settings-fieldset-interior-item'>
              <button id ='log-import' v-on:click='onImport'>Import</button>
              <input type='checkbox' class='checkbox' id='bp-clear' v-model='clear' />
              <label class='checkbox' for='bp-clear'>Clear log</label>
              <form id='upload' name='upload' class='hidden'>
                <input type='file' accept='text/csv' id='bp-import' name='bp-import' v-on:change='onUpload' />
              </form>
            </li>

            <li>
              <div id='appinfo'>{{ appinfo.id }} {{ appinfo.version }}</div>
            </li>
          </ul>
        </fieldset>
      </div>
    </transition>

  </div> <!-- app-settings -->
</template>

<script>
'use strict';

import { eventBus } from './index.js';
import appinfo from './appinfo.js';

const CONFIG = OC.generateUrl('/apps/bplog/config');

export default {
  name: 'Settings',
  data() {
    return {
      prefs: {
        newontop: true,
        showstats: true,
        histviewlen: 0,
        histviewmode: 0,
        format: 0,
      },
      histviewlen_inp: 0,
      isOpen: false, // menue
      clear: false, // checkbox for import
      appinfo: { ...appinfo },
    }
  },
  mounted() {
    this.loadPrefs();
  },
  methods: {

    notifyFailure() {
      OC.Notification.showTemporary(t('bplog', 'Request failed'));
    },

    toggleMenu() {
      if ((this.isOpen = !this.isOpen)) {
        this.histviewlen_inp = this.prefs.histviewlen;
      }
    },

    setPrefs: async function (key, value, event) {
      var url = CONFIG + '?key=' + key + '&value=';

      url += typeof value === 'boolean' ? (value ? '1' : '0') : value;

      let response = await fetch(url, {
        method: 'POST',
        headers: {
          'requesttoken': oc_requesttoken,
        },
      });
      if (response.ok) {
        await response.text();
        if (event) {
          eventBus.$emit(event, value);
        }
      } else {
        this.notifyFailure();
      }
    },

    sortLogs() {
      this.setPrefs('newontop', this.prefs.newontop, 'sort-log');
    },

    showStats() {
      this.setPrefs('showstats', this.prefs.showstats, 'stats-show');
    },

    reloadLog() {
      eventBus.$emit('reload-log', {
        histviewlen: this.prefs.histviewlen,
        histviewmode: this.prefs.histviewmode,
      });
    },

    setHistoryViewLength() {
      // Avoid range (0...180) violation
      if (this.histviewlen_inp >= 0 && this.histviewlen_inp <= 180) {
        this.setPrefs('histviewlen', this.prefs.histviewlen = this.histviewlen_inp);
        this.reloadLog();
      }
    },

    setHistoryViewMode() {
      this.setPrefs('histviewmode', this.prefs.histviewmode);
      this.reloadLog();
    },

    setFormat() {
      this.setPrefs('format', this.prefs.format);
    },

    onExport() {
      var text = ['csv', 'pdf', 'json'];
      window.location = OC.generateUrl(
        `/apps/bplog/export?format=${text[this.prefs.format]}&requesttoken=${oc_requesttoken}`);
    },

    onImport() {
      document.querySelector('#bp-import').click();
    },

    onUpload: async function () {
      var url = OC.generateUrl('/apps/bplog/import') + '?clear=';

      url += this.clear ? 1 : 0;
      this.clear = false; // single  shot

      let response = await fetch(url, {
        method: 'POST',
        headers: {
          'requesttoken': oc_requesttoken,
        },
        cache: 'no-cache',
        body: new FormData(document.querySelector('form#upload')),
      })

      if (response.ok) {
        let data = await response.json();
        if (data.success) {
          OC.Notification.showTemporary(t('bplog', 'Import successful'));
          eventBus.$emit('reload-log');
        } else {
          OC.Notification.showTemporary(t('bplog', 'Import failed: ' + data.error));
        }
      } else {
        this.notifyFailure();
        this.reloadLog();
      }
    },

    loadPrefs: async function () {
      let response = await fetch(CONFIG, {
        headers: {
          'requesttoken': oc_requesttoken,
        },
      });
      if (response.ok) {
        let prefs = await response.json();
        this.histviewlen_inp = this.prefs.histviewlen = prefs.histviewlen;
        this.prefs.histviewmode = prefs.histviewmode;
        this.prefs.format = prefs.format;
        this.reloadLog();
        eventBus.$emit('sort-log', this.prefs.newontop = prefs.newontop == '1');
        eventBus.$emit('stats-show', this.prefs.showstats = prefs.showstats == '1');
        eventBus.$emit('stats-prefs', {
          csvsep: prefs.csvsep,
          clipformat: prefs.clipformat,
        });
      } else {
        this.notifyFailure();
      }
    },
  },
};

</script>

<style>

#settings-content {
  border-right: 1px solid #eee;
  padding: 10px;
  background-color: #fff;
}

#recent {
  width: inherit;
  text-align: right;
}

.settings-row {
  display: grid;
  grid-template-columns: 45% auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

li.settings-fieldset-interior-item > button {
  margin-left: 0px;
}

label.input {
  text-align: left;
  width: inherit;
}

#appinfo {
  font-size: smaller;
}
</style>
