
<template>
  <tr>
    <td class='label'>{{ label }}</td>
    <td v-for="(val,i) in data" :key='i' v-bind:title=tooltip[i] >{{ val.toFixed(digits[i]) }}</td>
    <td v-if='Number.isInteger(marker)' class='marker' v-bind:class="catClasses"></td>
  </tr>
</template>

<script>
'use strict';

export default {
  name: 'StatRow',
  props: {
    label: {
      type: String,
      required: true,
    },
    data: {
      type: Array,
      required: true,
    },
    digits: {
      type: Array,
      required: true,
    },
    marker: {
      type: Number,
      required: false,
    },
    tooltip: {
      type: Array,
      required: false,
      default: function () {
        return ['', '', ''];
      },
    },
  },
  computed: {
    catClasses() {
      return {
        ht0: this.marker == 0,
        ht1: this.marker == 1,
        ht2: this.marker == 2,
        ht3: this.marker == 3,
      };
    },
  },
};
</script>

<style>

.marker {
	margin-left: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border-style: solid;
	border-width: thin;
	display: inline-block;
}

.ht0 {
	background-color: LawnGreen;
}

.ht1 {
	background-color: Yellow;
}

.ht2 {
	background-color: Orange;
}

.ht3 {
	background-color: Red;
}

</style>
