
<template>
  <div id='right'>
    <div id='stats-container' v-if='show'>
      <h3>Statistics</h3>
      <table>
        <thead>
          <tr>
            <th>
              <a href='#' class='icon icon-copy' title='Copy to clipboard'
                v-on:click='copy2Clipboard()' />
            </th>
            <th>Systole</th>
            <th>Diastole</th>
            <th>Pulse</th>
            <th class='mark'/>
          </tr>
        </thead>
        <tbody>
                              <!-- sys dia hrt -->  <!-- sys dia hrt -->
          <statrow label='Avg' v-bind:data='avg' v-bind:digits='digits' v-bind:marker='marker[0]' />
          <statrow label='Min' v-bind:data='min' v-bind:digits='digits' v-bind:marker='marker[1]' v-bind:tooltip='minTooltip' />
          <statrow label='Max' v-bind:data='max' v-bind:digits='digits' v-bind:marker='marker[2]' v-bind:tooltip='maxTooltip' />
          <statrow label='Std' v-bind:data='std' v-bind:digits='Array(1,1,1)' />
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
'use strict';

import { eventBus } from './index.js';
import BloodPressureEvaluator from './bpeval.js'
import StatRow from './StatRow.vue';
import { Clipboard } from './clipboard.js';
import { getLocalTimeStamp } from './helper.js';

export default {
  name: 'Statistics',
  components: {
    'statrow': StatRow,
  },
  mixins: [Clipboard],
  data() {
    return {
      // sys dia hrt - row
      avg: [0, 0, 0],
      min: [0, 0, 0],
      max: [0, 0, 0],
      std: [0, 0, 0],

      digits: [0, 0, 0],

      minTime: [0, 0, 0],
      maxTime: [0, 0, 0],
      minTooltip: ['', '', ''],
      maxTooltip: ['', '', ''],

      // avg min max - column
      marker: [0, 0, 0],
      ev: new BloodPressureEvaluator,

      show: false,
      csvsep: ';',
      clipformat: 1,
    };
  },
  mounted() {
    eventBus.$on('stats-create', history => this.createStats(history));
    eventBus.$on('stats-show', show => this.show = show);
    eventBus.$on('stats-prefs', (prefs) => {
      this.csvsep = prefs.csvsep === 0 ? ';' : ',';
      this.clipformat = prefs.clipformat;
    });
  },
  watch: {
    avg(newVal) {
      this.updateMarker(0, newVal[0], newVal[1]);
    },
    min(newVal) {
      this.updateMarker(1, newVal[0], newVal[1]);
    },
    max(newVal) {
      this.updateMarker(2, newVal[0], newVal[1]);
    },
  },
  methods: {
    getMarking(sys, dia) {
      return this.ev.evaluate(sys, dia)
    },
    updateMarker(i, sys, dia) {
      this.marker[i] = this.getMarking(sys, dia);
    },
    trackMinMax(i, val, created) {
      if (val < this.min[i]) {
        this.min[i] = val;
        this.minTime[i] = created;
      } else if (val > this.max[i]) {
        this.max[i] = val;
        this.maxTime[i] = created;
      }
      return val;
    },
    createStats(history) {
      const numChecks = history.length;
      const numItems = 3;

      if (numChecks) {
        this.avg = new Array(numItems);
        this.avg.fill(0);
        this.min = new Array(numItems);
        this.min.fill(Number.MAX_SAFE_INTEGER);
        this.max = new Array(numItems);
        this.max.fill(0);

        let sum = [0, 0, 0];

        history.forEach((cp) => {
          let created = parseInt(cp.created);
          let i = 0;

          sum[i] += this.trackMinMax(i, parseInt(cp.systole), created);
          i++;
          sum[i] += this.trackMinMax(i, parseInt(cp.diastole), created);
          i++;
          sum[i] += this.trackMinMax(i, parseInt(cp.pulse), created);
        });

        sum.forEach((item, i) => {
          this.avg[i] = item / numChecks;
        });

        this.calcStdDev(history);

        for (var i = 0; i < this.minTooltip.length; i++) {
          let timestamp = function (val) {
            return getLocalTimeStamp(new Date(1000 * val)); // milliseconds
          };
          this.minTooltip[i] = timestamp(this.minTime[i]);
          this.maxTooltip[i] = timestamp(this.maxTime[i]);
        }
      }
    },
    calcStdDev(history) {
      const numChecks = history.length;

      if (numChecks) {
        let sum = [0, 0, 0];

        history.forEach((cp) => {
          sum[0] += (parseInt(cp.systole) - this.avg[0]) ** 2;
          sum[1] += (parseInt(cp.diastole) - this.avg[1]) ** 2;
          sum[2] += (parseInt(cp.pulse) - this.avg[2]) ** 2;
        });

        sum.forEach((sum, i) => {
          this.std[i] = Math.sqrt(sum / numChecks);
        });
      }
    },
    copy2Clipboard() {
      let content = this.createClipboardContent();
      navigator.clipboard.writeText(content).then(() => {
        OC.Notification.showTemporary(t('bplog', 'Text copied to clipboard'));
      }).catch((err) => {
        OC.Notification.showTemporary(t('bplog', 'Error in copying text: ' + err));
      });
    },
  },
};
</script>

<style>

#right {
   position: absolute;
   margin-left: 800px;
}

th.mark, td.mark {
	width: 20px;
}

.icon-copy {
  display: inline-block;
  background-image: url('/core/img/actions/clippy-dark.svg');
  background-size: 16px 16px;
}

</style>
